
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Add Journal Entry</h3>
    </div>
    <div class="panel-body">
      <div class="row" style="text-align:center; padding-top: 50px; padding-bottom: 50px;">
        <form class="form-inline">
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" rows="10" ng-model="formData.entry"></textarea>
          </div><p>
          <p><button type="submit" class="btn btn-primary" ng-click="createHydrate()">Submit</button>&nbsp;<a href="/"><button class="btn btn-default" >Cancel</button></a>
        </form>
      </div>
    </div>
