    <!-- list stuffs -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="drink" ng-repeat="drink in hydrate">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteHydrate(drink._id)"><span aria-hidden="true">&times;</span></button>
                <p>{{ drink.type }} at {{ drink.time  }}</p>
            </div>
        </div>
        <div class="exercise" ng-repeat="run in exercise">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteExercise(run._id)"><span aria-hidden="true">&times;</span></button>
                <p>{{ run.length }} miles at {{ run.time }}</p>
            </div>

        </div>
        <div class="food" ng-repeat="meal in food">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteFood(meal._id)"><span aria-hidden="true">&times;</span></button>
                <p>{{ meal.description }} at {{ meal.time }}</p>
            </div>
        </div>
        <div class="cig" ng-repeat="smoke in cig">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteCig(smoke._id)"><span aria-hidden="true">&times;</span></button>
                <p>Smoked a cigarette at {{ smoke.time }}</p>
            </div>
        </div>
        <div class="journal" ng-repeat="entry in journal">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deleteJournal(entry._id)"><span aria-hidden="true">&times;</span></button>
                <p>Wrote journal entry at {{ entry.time }}</p>
            </div>
        </div>
	</div>
	</div>
